.divClass{
    top: 50%;
    left: 50%;
    text-align: center;
    position: fixed;
    transform: translate(-50%, -50%);

    ion-button{
        --background: var(--ion-color-primary) ;
        color: white;
        text-transform: none;
    }
}
