<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Fizz Buzz</ion-title>
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-grid fixed>
    <ion-row  *ngIf="fbList.length > 0" class="ion-padding">
      <ion-col sizeMd="6" offset-md="3" >
        <div class="ion-text-center">
          <ion-label style="font-weight: bold;">{{entryValue}}</ion-label>
        </div>       
      </ion-col>
      </ion-row>

    <ion-row  [hidden]="fbList.length > 0">
      <ion-col sizeMd="6" offset-md="3">
       <ion-item >
         <ion-input slot="start" type="number" class="ion-text'center"
          (ionChange)="checkValue()"
          placeholder="Insert a number"  [(ngModel)]= entryValue></ion-input>
          
          <ion-button (click)="applyFb()" expand="block" 
          slot="end" fill="clear" shape="round">
            Apply FizzBuzz
          </ion-button>
       </ion-item>
       <ion-item *ngIf="msg" lines="none">
         <ion-label color="danger">
          {{msgInfo}}
         </ion-label>
       </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-button (click)="clear()" expand="block" 
         shape="round" 
          *ngIf="fbList.length > 0">
          Clear List
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col sizeMd="6" offset-md="3">
        <ion-item *ngFor="let fb of fbList let i = index">
          <ion-label style="margin-left: 47%;"> {{i + 1}})-{{fb}}</ion-label>
        </ion-item>
      </ion-col>
     </ion-row>

  </ion-grid>
</ion-content>

